<h1>Editar Usuarios</h1>

<%= form_for :usuario, url: usuario_path(@usuario), method: :patch do |f| %>
  <% if @usuario.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@usuario.errors.count, "error") %> NO se pudo guardar el usuario:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :Nombres %><br>
    <%= f.text_field :nombres %>
  </p>

  <p>
    <%= f.label :Apellidos %><br>
    <%= f.text_field :apellidos %>
  </p>

  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Telefono %><br>
    <%= f.text_field :telefono %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', usuarios_path %>
