<h1>Usuario creado:</h1>

<%= form_for :usuario , url: usuarios_path do |f| %>
<p>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @usuario.apellidos %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</p>
<% end %>
<%= link_to 'Atras', usuarios_path %>
